/* dashboard grid */
.dashboard-grid{
    display: grid;
    background: #fff;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* menu grid */
.menu-grid {
    display: grid;
    margin-top: 31px;
    width: 100vw;
    height: calc(100vh - 30px);
    grid-template-columns: 285px 1fr 113px 285px;
    background: url(../image/grid.png) #f4f4f4;
  }

.menu-grid > .category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(11,1fr);
}

.menu-grid .items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(11,1fr);
  }

.menu-grid .sides {
    grid-template-rows: repeat(11,1fr);
    flex-direction: column;
    margin-left: 1px;
    overflow: hidden;
    display: grid;
}

/* history module grid */

.history-grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "header header header" "side order ticket";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 99px 1fr 285px;
    background: url(../../assets/image/grid.png) #f4f4f4;
}

.history-grid .invoices {
    grid-area: order;
    display: grid;
    padding-top: 4px;
    grid-template-rows: 1fr 62px;
  }
  
.history-grid .invoices .wrap {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.history-grid section.ticket {
    grid-area: ticket;
    background: rgba(255, 255, 255, 0.5);
}

/* table setting page */

.table-layout-setting {
    display: grid;
    grid-template-columns: 105px 1fr;
}

.grid-table-setup{
    display: grid;
    height: 100%;
    margin-left: 5px;
    width: calc(100% - 207px);
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(8,1fr);
}

/* hibachi setting page  */

.hibachi-setup-grid {
    height: calc(100vh - 30px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}