section.route {
  display: flex;
}

section.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px);
}

.content .page {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

ul.nav {
  width: 75px;
  display: flex;
  flex-direction: column;
  background: #009688;
}

ul.nav .wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

ul.nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c8e6c9;
  margin-top: 2px;
  cursor: pointer;
  padding: 10px 0px;
  border-left: 3px solid transparent;
}

ul.nav i {
  color: #e8e8e8;
  margin-bottom: 3px;
}

ul.nav .wrap {
  flex: 1;
}

ul.nav .router-link-active {
  border-left: 3px solid #ff5722;
  background: rgba(236, 235, 235, 0.5);
  color: #004d40;
}

ul.tabs {
  display: flex;
  background: #ffffff;
}

ul.tabs li {
  min-width: 90px;
  padding: 10px 20px;
  color: rgba(0,0,0,0.35);
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid transparent;
}

li.tab.disable {
  pointer-events: none;
  opacity: 0.7;
  color: #bdbdbd;
}

ul.tabs li.router-link-exact-active {
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #ff5722;
}

.tab-content {
  width: 450px;
  margin: 9px auto 0;
  border-radius: 6px 6px 0 0;
  background: #fff;
  box-shadow: var(--shadow);
}

.tab-content>.wrap {
  padding: 15px;
  background: #f6f6f6;
}

.wide.tab-content {
  width: 876px;
}

.table.tab-content {
  width: 100%;
  margin: initial;
}

.chart.page {
  width: 100%;
  margin: initial;
  background: #f8f9fa;
}

table.data tbody tr td {
  text-align: center;
  height: 40px;
}

table.data tr th {
  height: 30px;
  background: #607d8b;
  color: #fff;
  text-shadow: 0 1px 1px #333;
  font-weight: normal;
}

table.data thead,
table.data tbody tr,
table.data tfoot tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.data .fa-check-circle-o {
  color: #9e9e9e;
}

.data .fa-check-circle {
  color: #009688;
}

.data .fa-exclamation-triangle {
  color: #ff9800;
}

td.invalid {
  color: #e0e0e0;
}

td.decimal {
  font-weight: bold;
  font-family: "Agency FB";
  color: #3c3c3c;
}

label .tooltip {
  color: rgba(0, 0, 0, 0.5);
}

.toggle div.opt {
  padding: 0 24px 0 22px;
  background: #eee;
}

.toggle .opt>div {
  border-bottom: 1px dashed #ddd;
  padding: 4px 0 4px 0 !important;
}

.toggle .opt>div:last-child {
  border-bottom: none;
}

header.date-picker {
  display: flex;
  background: #fff;
  padding: 5px 15px;
  border-bottom: 1px solid #E0E0E0;
}

header.nav {
  display: flex;
  position: relative;
  padding: 6px 12px;
  height: 38px;
  align-items: center;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #EEEEEE;
  background: linear-gradient(to bottom, #fff 0%, #F5F5F5 100%);
}

header.nav .back {
  padding: 10px 25px;
  cursor: pointer;
  position: absolute;
}

header.nav .back {
  background: linear-gradient(to bottom, #EEEEEE 0%, #E0E0E0 100%);
  box-shadow: inset 0 -1px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

header.nav .title {
  flex: 1;
  text-align: center;
  color: #263238;
}

header.nav .title h5 {
  color: #9e9e9e;
  font-weight: normal;
}

header.nav nav {
  display: flex;
  position: absolute;
  right: 10px;
}

header.nav nav>span,
.editor header button.remove,
.mini-btn {
  padding: 10px 20px;
  background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Yuanti-SC'
}

header.nav nav .remove,
.editor header button.remove {
  background: linear-gradient(to bottom, #ff5722 0%, #d32f2f 100%);
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

table.setting thead th {
  background: #009688;
  color: #fff;
  font-weight: normal;
  padding: 2px 0;
  text-shadow: 0 1px 1px #333;
}

table.setting tbody td {
  padding: 7px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background: #f5f5f5;
}

td.expired {
  color: rgb(236, 48, 15);
}

td.opt {
  width: 30px;
}

td.opt i {
  width: 25px;
  cursor: pointer;
  color: #3c3c3c;
  padding: 5px 0;
}

td.opt i:active {
  background: #eee;
  border-radius: 4px;
}

td.amount {
  font-family: "Agency FB";
  font-weight: bold;
  color: #3c3c3c;
}

.fees {
  display: flex;
  align-items: center;
  padding: 5px 0 10px 30px;
}

.fees input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  margin-left: 15px;
  font-family: "Agency FB";
  font-weight: bold;
  font-size: 18px;
  width: 100px;
  text-indent: 10px;
  color: #3c3c3c;
}

.checkbox.list {
  border-bottom: 1px solid #eee;
  margin: 0;
  height: 40px;
  padding-left: 30px;
}

.editor {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
}

.setting .editor {
  transform: translateY(-20px);
}

.editor header {
  border-bottom: 1px solid #eee;
  padding: 6px 10px 2px 25px;
  display: flex;
  height: 40px;
  align-items: center;
}

header.tab {
  flex-direction: row;
}

.editor header h5 {
  font-weight: normal;
  color: #666;
  min-width: 35px;
}

.editor header i.close {
  padding: 15px 22px;
}

.editor .wrap {
  padding: 15px 25px;
  background: #f5f6f7;
  min-width: 350px;
}

.editor .wrap.no-padding {
  padding: initial;
}

.editor .wrap>.options {
  display: flex;
  flex-wrap: wrap;
}

.editor .wrap .printers {
  padding: 5px 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.editor .wrap .printers>label {
  width: 80px;
  display: block;
}

.editor .wrap .printers .inner {
  border: 1px solid #eee;
  background: #fff;
  flex: 1;
  border-radius: 2px;
  padding: 4px 2px;
  display: flex;
  max-width: 264px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor nav.tabs {
  display: flex;
  height: 45px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.editor nav.tabs label {
  padding: 13px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #656565;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.editor nav.tabs input:checked+label {
  border-bottom: 3px solid #ff9800;
  background: #fafafa;
  font-weight: bold;
  color: #0f1e29;
}

.editor .display {
  position: relative;
  display: flex;
  height: 60px;
  align-items: center;
  margin: 7px 7px 2px;
  border: none;
  border-radius: 4px;
  color: #656565;
  box-shadow: inset 0 1px 6px -1px rgba(0, 0, 0, 0.4);
  background: #fafafa;
}

.editor div.banner {
  height: 10px;
  align-items: center;
  display: flex;
  background: #009688;
}

.editor .display input {
  border: none;
  flex: 1;
  text-align: right;
  font-size: 34px;
  padding-right: 15px;
  font-weight: bold;
  font-family: "Agency FB";
  color: #3c3c3c;
  outline: none;
  background: transparent;
}

.editor .display .unit {
  position: absolute;
  left: 10px;
  padding: 4px 3px;
  text-align: center;
  min-width: 52px;
  background: #607d8b;
  color: #fff;
  border-radius: 4px;
  font-size: 34px;
  font-family: "Agency FB";
  font-weight: bold;
  text-shadow: 0 1px 1px #333;
  box-shadow: 0px 2px 1px #123344;
  cursor: pointer;
}

tr.banner {
  background: #009688;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

tr.banner th {
  font-weight: normal;
  padding: 5px 0;
  border-bottom: 1px solid #eeeeee;
}

.multiple .checkbox {
  flex: 1;
  margin: 2px 30px !important;
}

.multiple .text {
  flex: 1;
  padding: 10px 5px;
}

.checkboxes {
  width: 540px;
  padding: 5px;
  display: grid;
  margin-top: 5px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #eee;
  grid-template-columns: 1fr 1fr 1fr;
}

.checkboxes .checkbox {
  width: 167px;
}

.entryWrap .header {
  text-align: center;
  padding: 5px 0 15px;
  height: 44px;
}

.entryWrap .inner {
  position: relative;
  margin: 0 4px 2px 5px;
}

.entryWrap input {
  border: none;
  width: calc(100% - 22px);
  font-size: 34px;
  text-align: right;
  padding: 5px 10px;
  font-weight: bold;
  font-family: "Agency FB";
  outline: none;
  border-radius: 4px;
  color: #3c3c3c;
  box-shadow: inset 0 1px 6px -1px rgba(0, 0, 0, 0.4);
}

.statistic {
  padding: 10px 25px;
  border-bottom: 1px solid #eee;
}

.statistic h3 {
  color: #3c3c3c;
  margin-bottom: 3px;
}

.statistic h5 {
  font-weight: normal;
  padding-left: 10px;
  color: #656565;
}

.statistic h5 span:first-child {
  min-width: 60px;
  display: inline-block;
}

.pages {
  height: 48px;
  border-bottom: none;
  background: #eee;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mini-paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  flex: 1;
}

.mini-paginator i {
  padding: 10px 20px;
  background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.mini-paginator i:active {
  background: #fcfcfc;
}

.mini-paginator div {
  display: flex;
  min-width: 80px;
  justify-content: center;
}

.mini-paginator .slash {
  font-weight: bold;
  margin: 0 5px;
}

li.footer {
  height: 52px;
  border-bottom: none;
  background: #eee;
}

table.event thead th {
  color: #fff;
  padding: 5px 0;
  font-weight: normal;
  background: #009688;
  text-shadow: 0 1px 1px #333;
}

table.event tbody {
  display: block;
  min-height: 390px;
  background: #fafafa;
}

table.event thead,
table.event tbody tr {
  width: 100%;
  display: table;
  text-align: center;
  table-layout: fixed;
}

table.event tbody td {
  text-align: center;
  padding: 5px 0;
}

table.event td button {
  border: none;
  background: #ff5722;
  color: #fff;
  padding: 7px 10px;
  font-family: Yuanti-SC;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

table.event tbody tr:nth-child(odd) {
  background: #eeeeee;
}

.placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-25px);
}

.placeholder i {
  opacity: 0.5;
  font-size: 5em;
  text-shadow: 0 1px 1px #fff;
}

.placeholder p {
  position: relative;
  margin-top: 25px;
  color: #666;
}

.placeholder p:before {
  font-family: fontAwesome;
  content: "\F10D";
  font-weight: bold;
  position: absolute;
  font-size: 12px;
  left: -20px;
  top: -4px;
}

.placeholder p:after {
  font-family: fontAwesome;
  content: "\F10E";
  font-weight: bold;
  position: absolute;
  font-size: 12px;
  right: -20px;
  top: -4px;
}