@media only screen and (min-width : 1025px) {
    .menu{
        grid-template-columns: 628px 1fr 200px 285px;
    }

    /* section.sides{
        max-width: initial;
        margin-left: 0px;
    } */

    /* section.sides div{
        height: 92px;
    } */

    /* section.cart div.order,
    .ticket div.order{
        width: initial;
        height: 640px;
    } */

    /* section.cart div.main .wrap{
        max-width: initial;
    }

    section.tickets{
        flex: 1;
        height: 985px;
        width: initial!important;
    }

    .tables .table{
        height: 120px!important;
        width: 120px!important;
        margin: 3px 10px!important;
    }

    .table-layout .tables{
        padding:0 277px!important;
    }

    .request .content{
        width: 1635px!important;
        height: 1048px;
    }

    .request div.category,
    .request div.prefix{
        width: 310px!important;
    }
    .request .category div,
    .request .prefix div{
        width: 310px!important;
        height: 91.5px!important;
    }

    .request .items{
        margin-left: 4px;
        width: 756px!important;
    }

    .request .shortCut{
        width: 259px!important;
        margin-left: -5px;
    }
    .request .shortCut div{
        width: 254px!important;
        height: 92px!important;
    } */
}